.app {
  max-width: 680px;
  margin: 0 auto;
  padding: 48px 32px;
  min-height: 100vh;
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.modules {
  display: flex;
  flex-direction: column;
  gap: 24px;
}